:root {
  --design-width: 800;
  --design-height: 1615;
  --blue: #010080;
  --cyan: #00f3e8;
  --yellow: #fff201;
  --white: #ffffff;
  --black: #050505;
  font-family: Poppins, Arial, Helvetica, sans-serif;
}

* {box-sizing: border-box;margin: 0;padding: 0;}
body {margin: 0 auto;min-height: 100vh;background: #f3f3f3;color: var(--blue);font-family: Poppins, Arial, Helvetica, sans-serif;max-width: 1350px;}
.wrapper {width: 1150px;margin: 0 auto;max-width: 100%;}
.fw-400 {font-weight: 400;}
.fw-600 {font-weight: 600;}
.fw-700 {font-weight: 700;}

#header {background: var(--blue);}
#header .hdr_main {display: flex;justify-content: space-between;min-height: 100px;align-items: center;}
#header .logo {width: 1000px;display: flex;justify-content: center;max-width: 100%;}
#header .logo img {width: 500px; max-width: 100%;}
#header .hdr_icons {display: flex;align-items: center;gap: 60px;width: 300px;}
#header .hdr_icons img {width: 50px;}
#header .hdr_icons a:hover {transform: scale(1.2);transition: transform 0.5s ease;}

#banner {background: url(images/bnr-bg.jpg) no-repeat center;background-size: 1350px;}
#banner .wrapper {display: flex;align-items: center;min-height: 371px;width: 1200px;}
#banner ul.bnr_btns {display: flex;flex-wrap: wrap;gap: 20px;}
#banner ul.bnr_btns li {list-style: none;width: 830px;max-width: 100%;position: relative;}
#banner ul.bnr_btns > li a {text-decoration: none;color: var(--yellow);background: var(--blue);text-align: center;width: 100%;display: block;font-size: 25px;text-transform: uppercase;font-weight: 700;border-radius: 40px;padding: 10px 0;position: relative;cursor: pointer;}
#banner ul.bnr_btns > li a:hover {transform: scale(1.05);transition: transform 0.5s ease;}
#banner ul li a::before {content: '';position: absolute;display: block;z-index: 1;top: 50%;width: 30px;height: 30px;object-fit: contain;background-image: url(images/star-icon.png);background-size: contain;background-repeat: no-repeat;transform: translateY(-50%);left: 20px;}
#banner ul li a::after {content: '';position: absolute;display: block;z-index: 1;top: 50%;width: 30px;height: 30px;object-fit: contain;background-image: url(images/star-icon.png);background-size: contain;background-repeat: no-repeat;transform: translateY(-50%);right: 20px;}
/* submenu */
#banner ul.bnr_btns ul {display: none;position: absolute;z-index: 9;width: 100%;}
#banner ul.bnr_btns ul li {width: 100%;}
#banner ul.bnr_btns ul li a {background: none;color: var(--blue);background: var(--yellow);border-bottom: 1px solid;font-size: 18px;font-weight: 500;}
#banner ul.bnr_btns ul li a::before, #banner ul.bnr_btns ul li a::after {display: none;}


#middle1 {background: var(--yellow);min-height: 500px;}
#middle1 .middle1_main {display: flex;justify-content: space-between;align-items: center;padding: 40px 0;}
#middle1 .consultation_form {display: flex;flex-wrap: wrap;width: 500px;background: var(--blue);border-radius: 10px;padding: 25px;gap: 16px;}
#middle1 .consultation_form h1 {width: 100%;margin: 0;padding: 0;color: var(--yellow);font-size: 30px;line-height: 1;text-transform: uppercase;text-align: right;}
#middle1 .consultation_form form {width: 100%;gap: 16px;display: flex;flex-wrap: wrap;}
#middle1 .consultation_form form input {background: var(--cyan);border: none;border-radius: 6px;color: var(--blue);padding: 15px;width: 100%;outline: none;font-family: Poppins, Arial, Helvetica, sans-serif;font-size: 16px;}
#middle1 .consultation_form form input::placeholder,
#middle1 .consultation_form form textarea::placeholder {color: var(--blue);font-size: 16px;font-family: Poppins, Arial, Helvetica, sans-serif;}
#middle1 .consultation_form form .comment {width: 100%;}
#middle1 .consultation_form form textarea {background: var(--cyan);border: none;width: 100%;border-radius: 6px;padding: 15px;min-height: 120px;outline: none;font-size: 16px;color: var(--blue);font-family: Poppins, Arial, Helvetica, sans-serif;}
#comment::-webkit-scrollbar {width: 4px;}
#comment::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 0.3);border-radius: 10px;}
#comment::-webkit-scrollbar-thumb:hover {background: rgba(0, 0, 0, 0.5);}
#comment::-webkit-scrollbar-button {display: none;}
#middle1 .consultation_form form .submit_btn {text-transform: uppercase;font-size: 20px;font-weight: 700;padding: 10px;width: 150px;border-radius: 6px;margin-left: auto;margin-top: 50px;background: var(--cyan);border: none;color: var(--blue); cursor: pointer;}
#middle1 .consultation_form form .submit_btn:hover {transform: scale(1.05);transition: transform 0.5s ease;}
#middle1 .consultation_form form .fullname {width: 100%;}
#middle1 .consultation_form form .email, 
#middle1 .consultation_form form .phone {width: calc(50% - 8px);}
#middle1 .consultation_form form .error {color: red;font-size: 12px;line-height: 1;margin: 5px 0;}
#middle1 .consultation_form form .success-message {color: green; display: none;}
#middle1 .consultation_form form input:-webkit-autofill,
#middle1 .consultation_form form textarea:-webkit-autofill {-webkit-box-shadow: 0 0 0 1000px var(--cyan) inset !important;-webkit-text-fill-color: var(--blue) !important;transition: background-color 9999s ase-in-out 0s;font-size: 16px;padding: 15px;font-family: Poppins, Arial, Helvetica, sans-serif;}
#middle1 .middle1_video {border: 5px solid var(--blue);border-radius: 10px;}

#main_area {background: var(--yellow);}
#main_area .main_info {padding: 40px 0;}
#main_area .main_info h1 {font-size: 50px;font-weight: 700;line-height: 60px;}
#main_area .main_info h1 span {display: block;}
#main_area .main_info p {font-weight: 500;font-size: 20px;margin: 15px 0 25px;text-align: justify;line-height: 24px;}
#main_area .main_info a {width: 150px;display: block;margin-left: auto;background: var(--blue);text-align: center;color: var(--yellow);text-decoration: none;line-height: 35px;font-weight: 500;border-radius: 20px;font-size: 18px;cursor: pointer;}
#main_area .main_info a:hover {transform: scale(1.05);transition: transform 0.5s ease;}

#bottom1 {background: var(--cyan);}
#bottom1 .btm1_main {padding: 40px 0;display: flex;justify-content: space-between;}
#bottom1 .btm1_info {width: calc(100% - 400px);}
#bottom1 .btm1_info h1 {font-size: 60px;font-weight: 700;text-transform: uppercase;line-height: 0.9;letter-spacing: -1.5px;border-bottom: 5px solid;max-width: 100%;padding-bottom: 15px;}
#bottom1 .btm1_info h1 span {display: block;} 
#bottom1 .btm1_info p {font-size: 18px;font-weight: 500;margin: 20px 0;text-align: justify;}
#bottom1 .btm1_info a {width: 200px;display: block;background: var(--blue);text-align: center;color: var(--yellow);text-decoration: none;line-height: 42px;font-weight: 500;border-radius: 30px;font-size: 18px;text-transform: uppercase;}
#bottom1 .btm1_info a:hover {transform: scale(1.05);transition: transform 0.5s ease;}
#bottom1 .btm1_img {width: 300px;}

#bottom2 {background: var(--yellow);}
#bottom2 .btm2_main {padding: 80px 0 40px;}
#bottom2 .btm2_btns {display: flex;justify-content: space-between;}
#bottom2 .btm2_btns li {list-style: none;width: 30%;position: relative;}
#bottom2 .btm2_btns li a {text-decoration: none;color: var(--yellow);background: var(--blue);text-align: center;width: 100%;display: block;font-size: 30px;text-transform: uppercase;font-weight: 700;border-radius: 40px;padding: 10px 0;position: relative;line-height: 1;cursor: pointer;}
#bottom2 .btm2_btns li a:hover {transform: scale(1.05);transition: transform 0.5s ease;}
#bottom2 .btm2_info {display: flex;justify-content: space-between;margin: 40px 0 0;}
#bottom2 .btm2_info section {width: 30%;max-width: 267px;}
#bottom2 .btm2_info section h1 {line-height: 1;margin: 0 0 20px;}
#bottom2 .btm2_info section p {font-weight: 500;text-align: justify;}
#bottom2 .btm2_info .btm2_badge {width: 250px;}
/* submenu */
#bottom2 .btm2_btns ul {display: none;position: absolute;z-index: 9;width: 100%;}
#bottom2 .btm2_btns ul li {width: 100%;}
#bottom2 .btm2_btns ul li a {background: none;color: var(--blue);background: var(--yellow);border-bottom: 1px solid;font-size: 16px;font-weight: 500;}
/* end of submenu */

#footer_area {background: var(--yellow);}
#footer_area .ftr_main {display: flex;justify-content: space-between;padding: 40px 0 60px;}
#footer_area .ftr_links {display: flex;width: 75%;justify-content: space-between;}
#footer_area .ftr_links li {list-style: none;width: 24%;}
#footer_area .ftr_links li a {text-decoration: none;text-transform: uppercase;font-weight: 500;font-size: 20px;line-height: 1;cursor: pointer;}
#footer_area .ftr_links li a:hover {}
#footer_area .ftr_copyright {font-weight: 500;font-size: 20px;line-height: 1;}

/* Toogle submenu */
#banner .bnr_btns li ul,
#bottom2 .btm2_btns li ul {display: none;}

#banner .bnr_btns li.active > ul,
#bottom2 .btm2_btns li.active > ul {display: block;}

/* Modal */
.modal {display: none;position: fixed;inset: 0;background: rgba(0,0,0,0.6);justify-content: center;align-items: center;z-index: 9999999999;}
.modal.active {display: flex;}
.modal-content {background: white;padding: 40px;width: 480px;border-radius: 8px;position: relative;max-width: 95%;max-height: 90vh;display: flex;flex-direction: column;overflow: hidden;}
.modal-content .modal-header {}
.modal-content .close {cursor: pointer;font-size: 25px;text-align: right;position: absolute;right: 15px;top: 8px;}
.modal-content h1 {text-transform: uppercase;line-height: 1;margin: 0px 0 20px;}
.modal-content h1 span {display: block;}
.modal-content .modal-body {overflow-y: auto;padding: 0;min-height: 0;scrollbar-width: thin;-ms-overflow-style: none;}
.modal-content p {font-weight: 400;}

.w-1000 .modal-content {width: 1000px;}
/* End Of Modal */

/* Swiper Carousel */
.swiper {transition: height 0.4s ease;}
.swiper_title {text-transform:uppercase; font-size: 50px;text-align: center;margin-bottom: 25px;}
.swiper_carousel {background: var(--yellow);padding: 60px 0 40px;}
.swiper-slide {transition: all 0.4s ease;transform: scale(0.8);opacity: 0.5;}
.swiper-slide-active {transform: scale(1.1); opacity: 1; z-index: 2;}
.swiper-slide-prev,
.swiper-slide-next {transform: scale(0.9);opacity: 1;}
.swiper-wrapper {transition-timing-function: cubic-bezier(0.65, 0, 0.35, 1);}

.swiper_carousel .testimonial-card {border-radius: 24px;overflow: hidden;text-align: center;position: relative;}
.swiper_carousel .testimonial-content {background: var(--blue);color: #fff;padding: 40px 25px;}
.swiper_carousel .testimonial-content h1 {font-size: 28px;margin-bottom: 20px;font-weight: 700;}
.swiper_carousel .testimonial-content p {font-size: 15px;line-height: 1.6;max-height: 195px;overflow-y: scroll;}
.swiper_carousel .testimonial-content p::-webkit-scrollbar-button {display: none;}
.swiper_carousel .testimonial-content p::-webkit-scrollbar {width: 4px;}
.swiper_carousel .testimonial-content p::-webkit-scrollbar-thumb {background: rgba(0, 0, 0, 0.3);border-radius: 10px;}
.swiper_carousel .testimonial-content p::-webkit-scrollbar-thumb:hover {background: rgba(0, 0, 0, 0.5);}
.swiper_carousel .testimonial-avatar {width: 100%;display: flex;justify-content: center;padding: 0;margin-bottom: 0;z-index: 1;}
.swiper_carousel .testimonial-avatar img {width: 30px;height: 30px;}
.swiper_carousel .testimonial-footer {background: var(--cyan);padding: 20px;}
.swiper_carousel .testimonial-footer .rating {display: flex;gap: 4px;align-items: center;justify-content: center;}
.swiper_carousel .testimonial-footer .star {font-size: 24px;position: relative;display: inline-block;width: 24px;height: auto;}
.swiper_carousel .testimonial-footer .star::before {content: "★";color: #ccc;}
.swiper_carousel .testimonial-footer .star.full::before {content: "★";color: #f5b301;}
.swiper_carousel .testimonial-footer .star.half::before {content: "★";color: #f5b301;width: 50%;overflow: hidden;display: inline-block;}
.swiper_carousel .testimonial-footer .star.half {position: relative;}
.swiper_carousel .testimonial-footer .star.half::after {content: "★";position: absolute;left: 0;color: #ccc;}
.swiper_carousel .testimonial-footer .client-name {font-size: 16px;color: #000;}
/* End of Swiper Carousel */